<div class="chat">
    <button class="logout-dugme" mat-raised-button routerLink="/oglasi"> <mat-icon>arrow_back</mat-icon>Nazad na oglase</button>
    <button class="logout-dugme" mat-raised-button routerLink="/login"> <mat-icon>logout</mat-icon>Odjavi se</button>
    <div>
        <h1 class="ime">{{emailSagovornika}}</h1>
        <div class="poruka" *ngFor="let poruka of poruke$ | async">
            <h2>{{poruka.sadrzaj}}</h2>
            {{poruka.timeStamp}}
        </div>
        <!-- <input [(ngModel)]="emailSagovornika" placeholder="emailSagovornika" /> -->
        <div class="posalji">
            <input class="nova-poruka" [(ngModel)]="poruka" placeholder="Nova poruka" />
            <button class="posalji-dugme" (click)="sendMessage()" routerLink="/chat"><mat-icon>send</mat-icon> Posalji</button>
        </div>
    </div>
</div>