<form class="forma">
    <mat-form-field>
        Opis:<input matInput ="opis" [(ngModel)]="opis" name="opis">
        Plata:<input matInput ="plata" [(ngModel)]="plata" name="plata">
        Radno vreme:<input matInput ="radnoVreme" [(ngModel)]="radnoVreme" name="radnoVreme">
        Vestine:<input matInput ="vestine" [(ngModel)]="vestine" name="vestine">
    </mat-form-field>
    <br>
    <button type="button" style="background-color: pink;" mat-raised-button routerLink="/oglasi" (click)="dodajOglas()">Dodaj novi oglas</button>
    <br><br>
    <button type="button" mat-raised-button routerLink="/oglasi" >Nazad na oglase</button>
</form>