<div class="account-div">
    <div *ngIf="isDadilja">
        <div class="account-info-div" *ngFor="let dadilja of dadilja$ | async">
            <h2>{{ dadilja?.ime }} {{dadilja?.prezime}}</h2>
            <h3>Email: {{ dadilja?.email }}</h3>
            <h3>Drzava: {{ dadilja?.drzava }}</h3>
            <h3>Grad: {{ dadilja?.grad }}</h3>
            <h3>Pol: {{ dadilja?.pol }}</h3>
            <h3>Datum rodjenja: {{ dadilja?.datumRodjenja }}</h3>
            <h3>Telefon: {{ dadilja?.brojTelefona }}</h3>
            <h3>Vestine: {{ dadilja?.vestine }}</h3>
            <div class="dugmad">
                <button mat-raised-button routerLink="/izmeni-profil" style="width: 150px;"> <mat-icon>edit</mat-icon>Izmeni lozinku</button>
            </div>
            <br><br>
        </div>
    </div>
    <div *ngIf="!isDadilja">
        <div class="account-info-div" *ngFor="let user of korisnik$ | async">
            <h2>{{ user?.ime }} {{user?.prezime}}</h2>
            <h3>Email: {{ user?.email }}</h3>
            <h3>Drzava: {{ user?.drzava }}</h3>
            <h3>Grad: {{ user?.grad }}</h3>
            <h3>Pol: {{ user?.pol }}</h3>
            <h3>Datum rodjenja: {{ user?.datumRodjenja }}</h3>
            <h3>Telefon: {{ user?.brojTelefona }}</h3>
            <div class="dugmad">
                <button mat-raised-button routerLink="/izmeni-profil" style="width: 150px;"> <mat-icon>edit</mat-icon>Izmeni lozinku</button>
            </div>
            <br><br>
        </div>
    </div>
    <div class="oglasi">
        <h2>Objavljeni oglasi</h2>
        <ng-container *ngIf="(objavljeniOglasi$ | async)?.length">
            <div class="oglas" *ngFor="let oglas of objavljeniOglasi$ | async">
                <div class="oglas-item-div">
                    <h3>{{ oglas?.opis }}</h3>
                    <h4>Plata: {{ oglas?.plata }} din.</h4>
                    <h4>Radno vreme: {{ oglas?.radnoVreme }}</h4>
                    <h4>Pozeljne vestine: {{ oglas?.vestine }}</h4>
                    <button class="rezervisi" style="margin-bottom: 10px;" mat-raised-button (click)="obrisiOglas(oglas?.id)"><mat-icon>delete</mat-icon>Obrisi oglas</button>
                </div>
            </div>
        </ng-container>
        <h2>Rezervisani oglasi</h2>
        <ng-container *ngIf="(prijavljeniOglasi$ | async)?.length">
            <div class="oglas" *ngFor="let oglas of prijavljeniOglasi$ | async">
                <div class="oglas-item-div">
                    <h3>{{ oglas.opis }}</h3>
                    <h4>Plata: {{ oglas.plata }} din.</h4>
                    <h4>Radno vreme: {{ oglas.radnoVreme }}</h4>
                    <h4>Pozeljne vestine: {{ oglas.vestine }}</h4>
                    <h4>Oglasavac: {{ oglas.oglasivac }}</h4>
                    <div class="dugmici">
                        <button class="rezervisi" (click)="otvoriChat(oglas.oglasivac)" routerLink="/chat"><mat-icon>chat</mat-icon> Kontaktiraj oglasavaca</button>
                        <app-ocena [id]="oglas.id" [emailKorisnika]="oglas.oglasivac"></app-ocena>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
    <div style="display: flex; flex-direction: column;">
        <button mat-raised-button routerLink="/oglasi" style="height: 60px; margin-top: 20px; margin-left: 100px;"> <mat-icon>newspaper</mat-icon>Nazad na oglase</button>
        <button mat-raised-button routerLink="/login" style="height: 40px; margin-top: 20px; margin-left: 100px;"> <mat-icon>logout</mat-icon>Odjavi se</button>
        <button mat-raised-button routerLink="/login" style="height: 40px; margin-top: 20px; margin-left: 100px;" (click)="obrisiNalog()"> <mat-icon>delete</mat-icon>Obrisi nalog</button>
    </div>
</div>